html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    padding-top:60px;
}

.bg-body-tertiary {
    background: linear-gradient(to right, 
    #009AEA, #0072b4);
}

.gambar {
    width: 40px;
    margin-right: 15px;
}

.navbar-brand {
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

.nav-link {
    color: white;
}

.form-control {
    width: 500px;
    border-radius: 20px;
}

.cari1 {
    margin-left: -5px;
    border: none;
    background: none;
}

.cari {
    margin: 10px;
    color: white;
}

.page-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.section {
    width: 100%;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.section-header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.section-header h3 {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
}

.section-header {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    border-bottom: 2px solid #0a78b5;
    display: inline-block;
    padding-bottom: 6px;
    margin-bottom: 25px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 25px;
}

.game-card {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.game-card img {
    align-items: center;
    width: 155px;
    height: 155px;
    border-radius: 10px;
}

.game-card h4 {
    font-size: 14px;
    margin: 8px 0;
}

.game-card {
    font-size: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 140, 255, 0.3);
}

.rating {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.red { background: #e74c3c; }
.yellow { background: #f1c40f; color: #000; }
.green { background: #2ecc71; }

.new-release ul {
    list-style: none;
    padding: 0;
}

.new-release li {
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 1px dashed #ddd;
}

.new-release li:last-child {
    border-bottom: none;
}

.footer {
    background: #eeeeee;
    padding: 50px 0;
    margin-top: 80px;
    color: #444;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-brand {
    width: 30%;
}

.footer-brand h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-brand p {
    font-size: 14px;
    margin-bottom: 15px;
}

/* SOCIAL */
.social-icons a {
    text-decoration: none;
    color: #444;
    margin-right: 10px;
    font-weight: bold;
}

/* COLUMN */
.footer-col {
    width: 18%;
}

.footer-col h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

