html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    padding-top:60px;
}

.bg-body-tertiary {
    background: linear-gradient(to right, 
    #009AEA, #0072b4);
}

.gambar {
    width: 40px;
    margin-right: 15px;
}

.navbar-brand {
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

.nav-link {
    color: white;
}

.form-control {
    width: 500px;
    border-radius: 20px;
}

.cari1 {
    margin-left: -5px;
    border: none;
    background: none;
}

.cari {
    margin: 10px;
    color: white;
}

.rating-box-yellow {
    background-color: yellow;
    padding:4px;
    border-radius: 3px;
    margin-right:5px;
}

.rating-box-green {
    background-color: rgb(0, 255, 0);
    padding:4px;
    border-radius: 3px;
    margin-right:10px;
}

img {
    border-radius: 5px;
}

img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.col-md-4 {
    border-radius: 15px;
    background-color: #eeeeee;
}

.footer {
    background: #eeeeee;
    padding: 50px 0;
    margin-top: 80px;
    color: #444;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-brand {
    width: 30%;
}

.footer-brand h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-brand p {
    font-size: 14px;
    margin-bottom: 15px;
}

.social-icons a {
    text-decoration: none;
    color: #444;
    margin-right: 10px;
    font-weight: bold;
}

.footer-col {
    width: 18%;
}

.footer-col h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.linkc {
    text-decoration: none;
    color: black;
}

.linkc:hover{
    text-decoration: underline;
}